.button {
  border: none;
  padding: $btn-padding;
  display: block;
  border-radius: $btn-border;
  cursor: pointer;
  transition: 0.3s background-color ease;
  outline: none;

  &--block {
    width: 100%;
  }

  &--primary {
    background-color: $primary;
    color: #fff;
    &:hover {
      background-color: $primary-dark;
    }
  }

  &--error {
    background-color: $error;
    color: #fff;
    &:hover {
      background-color: $error-dark;
    }
  }
}
