.news-card {
  display: flex;
  flex-direction: column;
  background-color: $cardBG;
  box-shadow: $card-shadow;
  height: 100%;
  border-radius: $card-radius;
  &__header {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0;
  }
  &__title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__timestamp {
    color: $text-off;
    &--mb {
      margin-bottom: 0.75rem;
      display: inline-block;
    }
  }
  &__text {
    margin: 0;
  }
  &__body {
    flex: 1;
    padding: 0 1rem 1rem;
  }
  &__actions {
    padding: 0 1rem 1rem;
    &--btn {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
