.form {
  &__group {
    margin-bottom: 0.5rem;
  }

  &__label {
    font-size: 14px;
    color: $text-off;
  }
  &__input {
    display: block;
    border: $input-border;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 0.3s border-color ease;
    width: 100%;
    &:focus {
      border-color: $primary;
      outline: none;
    }
  }

  &__title {
    margin: 0 0 0.5rem;
    text-align: center;
  }

  &__btn {
    margin-top: 1rem;
  }

  &__error {
    font-size: 12px;
    text-align: center;
    display: block;
    color: $error;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}
