.news-layout {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // gap: 8px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.5rem;
  &:after {
    content: "";
    flex: 0 0 33.3%;
  }
  &__item {
    max-width: 33.3%;
    padding: 0.5rem;
  }
}
