* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $bodyBG;
  padding: 0;
  margin: 0;
  @media (max-width: $tablet) {
    font-size: 12px;
  }
}

.text-center {
  text-align: center;
}

.icon--ml {
  margin-left: 1rem;
}
